.default-enter-active,
.default-leave-active {
  transition: all 1000ms;
}

.default-enter-from,
.default-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

.custom-enter-active,
.custom-leave-active {
  transition: all 1000ms;
}

.custom-enter-from,
.custom-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.example {
  width: 200px;
  height: 200px;
  background: burlywood;
}
